---
import ArticleForm from '@components/forms/article.astro'
import Layout from '@layout/layout.astro'
---

<Layout title='Create new article'>
	<section class='max-w-7xl'>
		<ArticleForm />
	</section>
</Layout>
