---
import ArticleForm from '@components/forms/article.astro'
import Layout from '@layout/layout.astro'
import { ArticleActionsType } from '@lib/article/types'
import type { LocalUser } from '@lib/core/types'

const { actionManager, session } = Astro.locals

if (!session) {
	return Astro.redirect('/auth/login')
}

if (!actionManager.canExecute(ArticleActionsType.Create)) {
	return Astro.redirect('/401')
}

if (Astro.request.method === 'POST') {
	const formData = await Astro.request.clone().formData()
	const title = formData.get('title') as string
	const content = formData.get('content') as string
	const slug = formData.get('slug') as string
	const authorId = (Astro.locals.user as LocalUser).id
	const actionManager = Astro.locals.actionManager

	if (!actionManager) {
		return Astro.redirect('/401')
	}

	const canExecute = actionManager.canExecute(ArticleActionsType.Create)
	if (!canExecute) {
		return Astro.redirect('/401')
	}

	const result = await actionManager.execute(ArticleActionsType.Create, {
		article: {
			title: title,
			content: content,
			authorId: authorId,
			slug: slug,
		},
	})

	if (!result) {
		return Astro.redirect('/500')
	}

	return Astro.redirect('/')
}
---

<Layout title='Create new article'>
	<section class='flex max-w-7xl md:pb-10 md:px-10 mx-auto place-content-center'>
		<ArticleForm />
	</section>
</Layout>
