---
import type { Article } from '@lib/article/types'
import { Markdown } from 'astro-remote'
import Avatar from '@components/avatar/avatar.astro'

interface Props {
	article: Article
}

const { article } = Astro.props

const actionManager = Astro.locals.actionManager

actionManager.setContext({ ...actionManager.getContext(), article })
---

<article class='prose prose-lg max-w-7xl flex flex-col gap-5'>
	<Avatar
		avatar='https://cdn.jsdelivr.net/gh/alohe/memojis/png/vibrent_7.png'
		name={article.author?.name ?? 'Unknown'}
		email={article.author?.email ?? 'Unknown'}
	/>
	<Markdown content={article.content.substring(0, 500) + (article.content.length > 500 ? '...' : '')} />
	<div class='flex
			flex-row
			gap-5
			place-content-end'>
		<a class='btn btn-primary' href={`/articles/${article.id}`}>Read more</a>
		{
			actionManager.canExecute('article.edit') && (
				<a class='btn btn-warning' href={`/articles/edit/${article.id}`}>
					Edit
				</a>
			)
		}
		{
			actionManager.canExecute('article.delete') && (
				<form method='POST' action={`/api/articles/delete/${article.id}`}>
					<button type='submit' class='btn btn-danger'>
						Delete
					</button>
				</form>
			)
		}
	</div>
</article>
