---
import { ArticleActionsType, type Comment } from '@lib/article/types'
import { Markdown } from 'astro-remote'
import Avatar from '@components/avatar/avatar.astro'

interface Props {
	comment: Comment
}

const { comment } = Astro.props

const actionManager = Astro.locals.actionManager
actionManager.setContext({ ...actionManager.getContext(), comment })
const canDelete = await actionManager.canExecute(ArticleActionsType.DeleteComment)
---

<article class='prose max-w-full xl:max-w-4xl w-full p-5'>
	<div class='flex place-content-between'>
		<Avatar
			avatar={comment.author?.avatar ?? 'https://cdn.jsdelivr.net/gh/alohe/memojis/png/vibrent_7.png'}
			name={comment.author?.name ?? 'Unknown'}
			email={comment.author?.email ?? 'Unknown'}
			updatedAt={comment.updatedAt}
		/>
		<div class='flex flex-row gap-5'>
			{
				canDelete && (
					<form method='POST' action={`/api/comments/delete/${comment.id}`}>
						<button type='submit' class='btn btn-danger'>
							Delete
						</button>
					</form>
				)
			}
		</div>
	</div>
	<Markdown content={comment.content} />
</article>
