---
import Layout from '@layout/layout.astro'
import ArticleList from '@components/list/article.astro'
import { ArticleActionsType, type Article } from '@lib/article/types'

const actionManager = Astro.locals.actionManager
const user = Astro.locals.user

const articles: Article[] = await actionManager.execute(ArticleActionsType.List, {})
---

<Layout title='Astro minimal blog'>
	<section class='flex place-content-center'>
		<ArticleList articles={articles.reverse()} />
	</section>
</Layout>
