---
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import Nav from '../components/navbar/nav.astro'
import SpeedInsights from '@vercel/speed-insights/astro'

interface Props {
	title?: string
	showNav?: boolean
}
const { title = 'Astro minial blog', showNav = true } = Astro.props
---

<html lang='en' data-theme='dracula'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<title>{title}</title>
		<link rel='icon' href='/favicon.svg' />
		<meta
			name='description'
			content='This repository is a minimalistic blog built with Astro, leveraging Astro DB, Lucia Auth, and the actions-manager library. It is deployed on Vercel for seamless hosting.'
		/>
		<meta name='author' content='Maximiliano Biondo' />
		<meta name='tags' content='astro, blog, minimal' />
		<meta name='keywords' content='astro, blog, minimal, astro db, typescript, actions manager' />
		<ViewTransitions />
		<SpeedInsights />
	</head>
	<body>
		{showNav && <Nav />}
		<main class='container p-4 pt-20 text-skin-base pb-32 min-h-full relative mx-auto max-w-7xl flex flex-col'>
			<slot />
		</main>
		<script>
			import { syntaxHighlighting } from '@lib/mdx/syntax-highlighting'
			syntaxHighlighting()
			document.addEventListener('astro:after-swap', syntaxHighlighting)
		</script>
	</body>
</html>
